<strong>Olá, {{ name }}</strong>
<p>Estamos confirmando sua matrícula, confira os detalhes abaixo:</p>
<p>
  <strong>Data/hora: </strong> {{ date }} <br />
  <strong>Data de Início: </strong> {{ dataInicio }} <br />
  <strong>Plano: </strong> {{ title }} <br />
  <strong>Valor total do plano: </strong> {{ price }} <br />
  <strong>Data final: </strong {{ dataFinal }}>
  <br />
  <small>Agradecemos. No Pain No Gain. Bem Vindo.</small>
</p>
