<strong>Olá, {{ name }}</strong>
<p>Sua solicitação foi respondida:</p>
<p>
  <strong>Data/hora: </strong> {{ date }} <br />
  {{!-- <strong>Seu Plano: </strong> {{ plano }} <br /> --}}
  <strong>Data : </strong> {{ dataPergunta }} <br />
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Data: </strong> {{ answer_at }} <br />
  <br />
  <small>Agradecemos. No Pain No Gain. GymPoint.</small>
</p>
